.formwrapper {
  display: grid;
}
.formbox {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  border: 2px solid goldenrod;
  padding: 2em;
  width: 25em;
  margin-top: 2em;
}
input {
  padding: 1em;
  border: 1px solid gray;
}
label {
  margin-top: 1em;
}
/* mediaquery */
@media only screen and (max-width: 550px) {
  .formbox {
    width: 85%;
    width: 20em;
    padding: 1em;
  }
}
