.menu {
  display: flex;
  margin-top: 1em;
}
.menu > h6 {
  margin-left: 2em;
  transition-duration: 0.2s;
  padding: 0.3em 1em;
}
.menu > h6:hover {
  background-color: goldenrod;
  border-radius: 0.3em;
  transition-duration: 0.2s;
}
/* mediaquery */
@media only screen and (max-width: 550px) {
  .menu > h6 {
    font-size: 0.7em;
    padding: 0.2em 0em;
  }
  .title {
    font-size: 1em;
  }
}
/* mediaquery */
@media only screen and (max-width: 400px) {
  .menu > h6 {
    font-size: 0.5em;
    padding: 0.2em 0em;
  }
  .title {
    font-size: 1em;
  }
}
