.uploadcontainer {
  display: grid;
  place-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  top: 10em;
  border: 2px solid goldenrod;
  margin-top: 1em;
  padding: 1em 2em;
  /* border-radius: 1em; */
}

.forminput {
  width: 25em;
  height: 3em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
label {
  font-size: large;
}
.submitbtn {
  width: 25em;
  height: 3em;
  border: transparent;
  background-color: goldenrod;
  border-radius: 5px;
  margin-top: 20px;
}

/* mediaquery */
@media only screen and (max-width: 550px) {
  .form {
    width: 75%;
    width: 20em;
    padding: 1em;
  }
  .forminput {
    width: 20em;
    height: 2.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
  .submitbtn {
    width: 20em;
    height: 3em;
    border: transparent;
    background-color: goldenrod;
    border-radius: 5px;
    margin-top: 20px;
  }
  .choosefile {
    border: none;
  }
}
